<div>
    <h2>
        <span jhiTranslate="jhipsterSampleApplicationApp.skills.home.title">Skills</span>
        <button class="btn btn-primary float-right jh-create-entity create-skills-my-suffix" [routerLink]="['/', { outlets: { popup: ['skills-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterSampleApplicationApp.skills.home.createLabel">
            Create new Skills
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="skills">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.socSpecificSkName">Soc Specific Sk Name</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.socSpecificSkCode">Soc Specific Sk Code</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.anDaInLv">An Da In Lv</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.anDaInIm">An Da In Im</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.asCaOthLv">As Ca Oth Lv</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.asCaOthIm">As Ca Oth Im</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.coDevOthLv">Co Dev Oth Lv</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.coDevOthIm">Co Dev Oth Im</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.coPerOutOrgLv">Co Per Out Org Lv</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.coPerOutOrgIm">Co Per Out Org Im</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.coSupPeSubLv">Co Sup Pe Sub Lv</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.coSupPeSubIm">Co Sup Pe Sub Im</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.conMaProLv">Con Ma Pro Lv</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.conMaProIm">Con Ma Pro Im</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.cooWorActOthLv">Coo Wor Act Oth Lv</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.cooWorActOthIm">Coo Wor Act Oth Im</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.devBuildTeamsLv">Dev Build Teams Lv</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.devBuildTeamsIm">Dev Build Teams Im</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.devObjStratLv">Dev Obj Strat Lv</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.devObjStratIm">Dev Obj Strat Im</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.docRecInfoLv">Doc Rec Info Lv</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.docRecInfoIm">Doc Rec Info Im</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.drLayOutSpecLv">Dr Lay Out Spec Lv</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.drLayOutSpecIm">Dr Lay Out Spec Im</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.estMaIntRelLv">Est Ma Int Rel Lv</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.skills.estMaIntRelIm">Est Ma Int Rel Im</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let skills of skills ;trackBy: trackId">
                <td><a [routerLink]="['../skills-my-suffix', skills.id ]">{{skills.id}}</a></td>
                <td>{{skills.socSpecificSkName}}</td>
                <td>{{skills.socSpecificSkCode}}</td>
                <td>{{skills.anDaInLv}}</td>
                <td>{{skills.anDaInIm}}</td>
                <td>{{skills.asCaOthLv}}</td>
                <td>{{skills.asCaOthIm}}</td>
                <td>{{skills.coDevOthLv}}</td>
                <td>{{skills.coDevOthIm}}</td>
                <td>{{skills.coPerOutOrgLv}}</td>
                <td>{{skills.coPerOutOrgIm}}</td>
                <td>{{skills.coSupPeSubLv}}</td>
                <td>{{skills.coSupPeSubIm}}</td>
                <td>{{skills.conMaProLv}}</td>
                <td>{{skills.conMaProIm}}</td>
                <td>{{skills.cooWorActOthLv}}</td>
                <td>{{skills.cooWorActOthIm}}</td>
                <td>{{skills.devBuildTeamsLv}}</td>
                <td>{{skills.devBuildTeamsIm}}</td>
                <td>{{skills.devObjStratLv}}</td>
                <td>{{skills.devObjStratIm}}</td>
                <td>{{skills.docRecInfoLv}}</td>
                <td>{{skills.docRecInfoIm}}</td>
                <td>{{skills.drLayOutSpecLv}}</td>
                <td>{{skills.drLayOutSpecIm}}</td>
                <td>{{skills.estMaIntRelLv}}</td>
                <td>{{skills.estMaIntRelIm}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../skills-my-suffix', skills.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'skills-my-suffix/'+ skills.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'skills-my-suffix/'+ skills.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
