<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEmployeeLabel" jhiTranslate="jhipsterSampleApplicationApp.employee.home.createOrEditLabel">Create or edit a Employee</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!employee.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="employee.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.employee.employeeId" for="field_employeeId">Employee Id</label>
            <input type="number" class="form-control" name="employeeId" id="field_employeeId"
                [(ngModel)]="employee.employeeId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.employee.playerType" for="field_playerType">Player Type</label>
            <input type="text" class="form-control" name="playerType" id="field_playerType"
                [(ngModel)]="employee.playerType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.employee.firstName" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                [(ngModel)]="employee.firstName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.employee.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="employee.lastName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.employee.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="employee.email" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.employee.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                [(ngModel)]="employee.phone" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.employee.badgeNumber" for="field_badgeNumber">Badge Number</label>
            <input type="text" class="form-control" name="badgeNumber" id="field_badgeNumber"
                [(ngModel)]="employee.badgeNumber" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.employee.startDate" for="field_startDate">Start Date</label>
            <div class="input-group">
                <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" [(ngModel)]="employee.startDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.employee.memberSince" for="field_memberSince">Member Since</label>
            <div class="d-flex">
                <input id="field_memberSince" type="datetime-local" class="form-control" name="memberSince" [(ngModel)]="employee.memberSince"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.employee.previousSalary" for="field_previousSalary">Previous Salary</label>
            <input type="number" class="form-control" name="previousSalary" id="field_previousSalary"
                [(ngModel)]="employee.previousSalary" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.employee.currentSalary" for="field_currentSalary">Current Salary</label>
            <input type="number" class="form-control" name="currentSalary" id="field_currentSalary"
                [(ngModel)]="employee.currentSalary" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.employee.goalSalary" for="field_goalSalary">Goal Salary</label>
            <input type="number" class="form-control" name="goalSalary" id="field_goalSalary"
                [(ngModel)]="employee.goalSalary" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.employee.pathGoal" for="field_pathGoal">Path Goal</label>
            <input type="text" class="form-control" name="pathGoal" id="field_pathGoal"
                [(ngModel)]="employee.pathGoal" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.employee.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="employee.address" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.employee.city" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                [(ngModel)]="employee.city" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.employee.zip" for="field_zip">Zip</label>
            <input type="number" class="form-control" name="zip" id="field_zip"
                [(ngModel)]="employee.zip" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.employee.state" for="field_state">State</label>
            <input type="text" class="form-control" name="state" id="field_state"
                [(ngModel)]="employee.state" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.employee.employeeAvatar" for="field_employeeAvatar">Employee Avatar</label>
            <div>
                <img [src]="'data:' + employee.employeeAvatarContentType + ';base64,' + employee.employeeAvatar" style="max-height: 100px;" *ngIf="employee.employeeAvatar" alt="employee image"/>
                <div *ngIf="employee.employeeAvatar" class="form-text text-danger clearfix">
                    <span class="pull-left">{{employee.employeeAvatarContentType}}, {{byteSize(employee.employeeAvatar)}}</span>
                    <button type="button" (click)="clearInputImage('employeeAvatar', 'employeeAvatarContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_employeeAvatar" (change)="setFileData($event, employee, 'employeeAvatar', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="employeeAvatar" id="field_employeeAvatar"
                [(ngModel)]="employee.employeeAvatar" />
            <input type="hidden" class="form-control" name="employeeAvatarContentType" id="field_employeeAvatarContentType"
                [(ngModel)]="employee.employeeAvatarContentType" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.employee.socSpecific" for="field_socSpecific">Soc Specific</label>
            <select class="form-control" id="field_socSpecific" name="socSpecific" [(ngModel)]="employee.socSpecificId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="socSpecificOption.id" *ngFor="let socSpecificOption of socspecifics; trackBy: trackSocSpecificById">{{socSpecificOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.employee.department" for="field_department">Department</label>
            <select class="form-control" id="field_department" name="department" [(ngModel)]="employee.departmentId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="departmentOption.id" *ngFor="let departmentOption of departments; trackBy: trackDepartmentById">{{departmentOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.employee.manager" for="field_manager">Manager</label>
            <select class="form-control" id="field_manager" name="manager" [(ngModel)]="employee.managerId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="employeeOption.id" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.employee.discipline" for="field_discipline">Discipline</label>
            <select class="form-control" id="field_discipline" name="discipline" [(ngModel)]="employee.disciplineId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="disciplineOption.id" *ngFor="let disciplineOption of disciplines; trackBy: trackDisciplineById">{{disciplineOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
