
<div *ngIf="lesson">
    <h2><span jhiTranslate="jhipsterSampleApplicationApp.lesson.detail.title">Lesson</span> {{lesson.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.lesson.lessonTitle">Lesson Title</span></dt>
        <dd>
            <span>{{lesson.lessonTitle}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.lesson.lessonAvator">Lesson Avator</span></dt>
        <dd>
            <div *ngIf="lesson.lessonAvator">
                <a (click)="openFile(lesson.lessonAvatorContentType, lesson.lessonAvator)">
                    <img [src]="'data:' + lesson.lessonAvatorContentType + ';base64,' + lesson.lessonAvator" style="max-width: 100%;" alt="lesson image"/>
                </a>
                {{lesson.lessonAvatorContentType}}, {{byteSize(lesson.lessonAvator)}}
            </div>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.lesson.lessonDescription">Lesson Description</span></dt>
        <dd>
            <span>{{lesson.lessonDescription}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.lesson.language">Language</span></dt>
        <dd>
            <span jhiTranslate="{{'jhipsterSampleApplicationApp.Language.' + lesson.language}}">{{lesson.language}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'lesson-my-suffix/'+ lesson.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
