
<div *ngIf="discipline">
    <h2><span jhiTranslate="jhipsterSampleApplicationApp.discipline.detail.title">Discipline</span> {{discipline.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.discipline.disciplineName">Discipline Name</span></dt>
        <dd>
            <span>{{discipline.disciplineName}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.discipline.disciplineAvator">Discipline Avator</span></dt>
        <dd>
            <div *ngIf="discipline.disciplineAvator">
                <a (click)="openFile(discipline.disciplineAvatorContentType, discipline.disciplineAvator)">
                    <img [src]="'data:' + discipline.disciplineAvatorContentType + ';base64,' + discipline.disciplineAvator" style="max-width: 100%;" alt="discipline image"/>
                </a>
                {{discipline.disciplineAvatorContentType}}, {{byteSize(discipline.disciplineAvator)}}
            </div>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.discipline.disciplineDescription">Discipline Description</span></dt>
        <dd>
            <span>{{discipline.disciplineDescription}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.discipline.disciplinePrice">Discipline Price</span></dt>
        <dd>
            <span>{{discipline.disciplinePrice}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.discipline.programs">Programs</span></dt>
        <dd>
            <span *ngFor="let programs of discipline.programs; let last = last">
                <a [routerLink]="['/program-my-suffix', programs?.id ]">{{programs.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'discipline-my-suffix/'+ discipline.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
